// Dashboard Styles
//
$body-bg: #000000;

body {
            background: url("/img/bg01.jpg");
}
.mainbox {

            background-color: rgba(00, 00, 00, 0.1);

}
.mainbox02 {

            background-color: rgba(255, 255, 255, 0.5);

}
